@media screen and (min-width: 150px) and (max-width: 615px) {
  nav {
    background: rgba(64, 58, 60, 0.84);
    position: fixed;
    width: 100%;
    height: 20px;
    margin-top: 0px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .5);
    z-index: 100;
  }
  nav ul {
    display: none;
  }
  .sakura {
    position: relative;
    text-align: center;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: -100px;
    margin-left: auto;
  }

  .facebook a img {
    right: -26px;
    top: 110px;
    height: 20px;
    width: 70px;
  }

  .logo img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
  }
  .slider-wrapper {
    width: 80%;
    height: auto;
    margin: 10%;
    margin: 20px auto 0px auto;
    opacity: 0.9;
    background-color: white;
    border-radius: 20px;
  }
  .menukaart1, .menukaart2 {
    width: 60%;
    margin-top: 70px;
    margin-bottom: 30px;
  }
  #welkom img {
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-bottom: -10px;
  }
  #overons {
    margin-bottom: 20px;
  }
  #allyoucaneat {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  #openingstijden {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  #prijzen {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
  #overons p {
    font-size: 17px;
  }
  #overons h2 {
    font-size: 20px;
  }
  #allyoucaneat h2 {
    font-size: 20px;
  }
  #allyoucaneat p {
    font-size: 17px;
  }
  #openingstijden h2 {
    font-size: 20px;
  }
  #openingstijden p {
    font-size: 17px;
  }
  #prijzen h2 {
    font-size: 20px;
  }
  #prijzen p {
    font-size: 17px;
    text-align: center;
  }
  iframe {
    border: solid 8px white;
    margin-top: 10px;
  }
  .gototop a {
    font-size: 25px;
    margin-bottom: 0px;
  }
  .copyright span {
    font-size: 10px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .contact-form input {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .contact-form textarea {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .contact-form button {
    font-size: 16px;
  }

}

@media screen and (min-width: 616px) and (max-width: 1129px) {
  p {
    font-size: 22px;
  }
  nav {
    background: rgba(64, 58, 60, 0.84);
    position: fixed;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .5);
    z-index: 100;
  }
  nav li {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 6px;
    margin-left: 0px;
  }
  nav a {
    font-size: 1vw;
  }
  nav img {
    width: 60px;
    height: auto;
  }

  .logo {
    margin-top: -10px;
  }
  .slider-wrapper {
    position: relative;
    width: 80%;
    height: auto;
    margin: 10%;
    margin: 20px auto 20px auto;
    opacity: 0.9;
    background-color: white;
    border-radius: 30px;
  }
  .button {
    position: absolute;
    width: 30px;
    height: 30px;
    border-top: 10px solid white;
    cursor: pointer;
    z-index: 160;
  }
  #overons {
    margin-bottom: 20px;
  }
  #allyoucaneat {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  #openingstijden {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  #prijzen {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  #welkom img {
    position: relative;
    width: 70%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  #overons p {
    font-size: 18px;
    padding: 10px 20px 1px 20px;
  }
  #overons h2 {
    font-size: 20px;
  }
  #allyoucaneat h2 {
    font-size: 20px;
    padding: 0px 5px 0px 5px;
  }
  #allyoucaneat p {
    font-size: 18px;
    padding: 15px 20px 1px 20px;
  }
  .menukaart1, .menukaart2 {
    padding: 10px 5px 10px 5px;
  }
  #openingstijden h2 {
    font-size: 20px;
    padding: 0px 5px 0px 5px;
  }
  #openingstijden p {
    font-size: 18px;
    padding: 15px 1px 20px 1px;
  }
  #prijzen h2 {
    font-size: 20px;
    padding: 0px 5px 0px 5px;
  }
  #prijzen p {
    font-size: 18px;
    text-align: center;
    padding: 15px 1px 1px 1px;
  }
  iframe {
    height: 300px;
  }
  .gototop a {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .copyright span {
    font-size: 12px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
